body {
    background-color: teal;
    background-image:url(image/artart.png);
}
p{ 
    color:purple
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
}
img:hover{
    width:100%
    transistion:100ms
}
{
    font-size: 25px
}