body {
    background-color: teal;
    color: black;
    text-align: center
}
#opening {
    text-align: center;
    text-decoration: underline;
    color: black;
    background-color:white
}
ul {
    text-align: center
}   
p { 
    font-family: cursive
}
ul {
    font-family:cursive
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    color:black
}